.sidepane {
    -fx-background-color:#FC91B6;
    -fx-alignment: center;
}

.header {
    -fx-background-color:#F5F1FF;
}

.dashlabel {
    -fx-font-family: Poppins, sans-serif;
    -fx-font-style: normal;
    -fx-font-size: 15px;
}

.herbalanceheader {
    -fx-font-family: Poppins, sans-serif;
    -fx-font-style: normal;
    -fx-font-size: 20px;
}

.userlabel {
    -fx-font-family: Poppins, sans-serif;
    -fx-font-style: normal;
    -fx-font-size: 20px;
}

.main {
    -fx-background-radius: 30px;
    -fx-background-color: #8B7FF5;

}


.dashbutton,.periodbutton, .fitnessbutton, .mealbutton, .logoutbutton, .weeklybutton, .affirmationbutton {
    -fx-background-color: #AFE9E5;
    -fx-background-radius: 30px;
    -fx-text-fill: #000000;
    -fx-border-style: 5px solid;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 25px;
}

.wellnessbutton {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px;
    -fx-text-fill: #000000;
    -fx-border-style: 5px solid;
    -fx-border-color: #000000;
    -fx-border-radius: 25px;
}

.workout {
    -fx-background-radius: 30px;
    -fx-background-color: #F5F1FF;

}

.wellnesstip {
    -fx-background-radius: 30px;
    -fx-background-color: #AFE9E5;

}

.cyclelevel {
    -fx-background-radius: 30px;
    -fx-background-color: #FC91B6;
}

.cyclelabel {

    -fx-font-family: Poppins, sans-serif;
    -fx-font-style: normal;
    -fx-font-size: 15px;
}

.meallabel {
    -fx-font-family: Poppins, sans-serif;
    -fx-font-style: normal;
    -fx-font-size: 15px;
}

.workouttext {
    -fx-font-family: Poppins, sans-serif;
    -fx-font-style: normal;
    -fx-font-size: 15px;
}

.welcomelabel {
    -fx-font-family: Poppins, sans-serif;
    -fx-font-style: normal;
    -fx-font-size: 15px;
}

.signinbutton, .signupbutton, .logintitle {
    -fx-font-family: Poppins, sans-serif;
    -fx-font-style: normal;
    -fx-font-size: 16px;

}
